body {
    background: url("img/fundo/padrao1.jpg") center scroll;
    background-size: cover;
    font-family: HORTA;
    font-size: 1.25em;
}


/* index.html */

#name {
    color: #ff8614;
    -webkit-text-stroke: 1px black;
    font-size: 45px;
    position: absolute;
    top: 120px;
    left: 15px;
}

#cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#cabecalho img {
    width: 250px;
}

#cabecalho input[type=text] {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ff8614;
    -webkit-text-stroke: 0.5px black;
    text-align: center;
    border: none;
    width: 350px;
    font-size: 25px;
}

#cabecalho input[type=image] {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

#cabecalho a {
    font-size: 25px;
}

#produto {
    border: 5px double grey;
    background: url("img/fundo/padrao2.jpg") center scroll;
    background-size: cover;
    padding: 0px 15px;
    margin: 0px 15px;
    overflow: hidden;
}

#counter {
    float: right;
    font-size: 15px;
    margin-top: 30px;
    padding: 5px;
    border: 5px double grey;
}

#produto img {
    float: left;
    width: 227px;
    height: 227px;
    margin: 5px 15px;
}

#produto p {
    -webkit-text-stroke: 0.5px #ff8614;
}

#produto h1 {
    text-align: center;
    color: #ff8614;
    -webkit-text-stroke: 1px black;
}

#produto h2 {
    color: #ff8614;
    -webkit-text-stroke: 1px black;
    padding-top: 25px;
}

#produto h3 {
    clear: left;
    color: #ff8614;
    -webkit-text-stroke: 1px black;
    border-top: 1px solid grey;
    padding-top: 25px;
}

#categoria {
    background-color: #ff8614;
    -webkit-text-stroke: 0.5px #ff8614;
    border: solid grey;
    width: 205px;
    padding-right: 3%;
}

#categoria h3 {
    padding: 0px 0px 0px 15px;
}

#about a {
    display: flex;
    margin-top: 30px;
    padding-left: 30px;
    border-top: 3px solid grey;
    padding-top: 25px;
}


/* product.html */

.info #img_produto {
    float: left;
    width: 300px;
}

.info #produto h2,
.info #payment,
.info #produto button {
    margin: 10px 50px;
}

.info #produto input[type=number] {
    width: 45px;
}

.info #icons_pagamento {
    float: right;
    width: 450px;
    height: 150px;
}

#paginacao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn_comprar {
    padding: 15px;
    margin: 15px 0px;
    font-family: HORTA;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #000;
    background-color: #ff8614;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 7px grey;
}

.btn_comprar:hover {
    background-color: #15ff00;
}

.btn_comprar:active {
    background-color: #15ff00;
    box-shadow: 0 5px grey;
    transform: translateY(4px);
}

.btn_pagina {
    box-shadow: 0px 7px grey;
    background: #ff8614;
    border-radius: 5px;
    border: 1px solid #000;
    font-family: HORTA;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 10px;
    margin: 10px 5px;
}

.btn_pagina:focus {
    background-color: #15ff00;
}

.advanced_search input[type=image] {
    width: 50px;
    height: 50px;
    margin: 30px;
}

a:link {
    color: #ff8614;
    -webkit-text-stroke: 1px black;
}

a:visited {
    color: #ff8614;
    -webkit-text-stroke: 1px black
}

a:focus {
    color: #15ff00;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

a:hover {
    color: red;
    -webkit-text-stroke: 1px black
}

a:active {
    color: #ff8614;
    -webkit-text-stroke: 1px black;
}


/* index.html */


/* Media queries Produtos */

@media screen and (max-width: 690px) {
    #produto img {
        width: 227px;
        height: 227px;
    }
    #cabecalho input[type=text] {
        width: 350px;
    }
}

@media screen and (max-width: 600px) {
    #produto img {
        width: 180px;
        height: 180px;
    }
    #cabecalho input[type=text] {
        width: 250px;
    }
}

@media screen and (max-width: 480px) {
    #produto img {
        width: 29px;
        height: 29px;
    }
    #cabecalho input[type=text] {
        width: 150px;
    }
}


/* Media queries Categoria */

@media screen and (min-width: 750px) {
    #content {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
    }
    #categoria {
        max-width: 205px;
    }
}

@media screen and (max-width: 750px) {
    #content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #categoria {
        width: 100%;
        margin: 15px;
    }
}

@media screen and (max-width: 305px) {
    #counter {
        float: left;
        font-size: 15px;
        margin-left: 45px;
    }
}


/* product.html */


/* Media queries  */

@media screen and (max-width: 600px) {
    #content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .info #img_produto {
        width: 550px;
    }
}