<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MadPanda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="frontend/font/HortaFont.otf" type="text/css" />
    <link rel="stylesheet" href="frontend/stylesheet.css">
    <link rel="stylesheet" href="frontend/header_align.css">
</head>
<body>
    <div id="cabecalho">
        <img src="frontend/img/madpanda.png" alt="madpanda" onclick="document.location='/index'">
        <p id="name">Mad Panda</p>
    </div>
    <div id="alinhamento">
        <p>Não tem permissões para aceder a esta página...</p>
        <button class="btn_comprar" type="button" onclick="document.location='/index'">Voltar</button>
    </div>
</body>
</html>