<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MadPanda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="frontend/font/HortaFont.otf" type="text/css" />
    <link rel="stylesheet" href="frontend/stylesheet.css">
</head>


<body calss="index">

<p id="name">Mad Panda</p>

<div id="cabecalho">
    <img src="frontend/img/madpanda.png" alt="madpanda">
    <form th:action="@{/search-product}" method="post">
        <input type="text" th:name="name" placeholder="Pesquisar..."/>
        <input type="image" src="frontend/img/lupa.png" alt="pesquisar">
    </form>
    <a th:href="@{/login}">Log In</a>
    <a th:href="@{/advanced-search}">Pesquisa Avançanda</a>
</div>


<div id="content">
    <div id="produto">
        <p id="counter">Nº de Produtos: 5</p>

        <h1>Produtos</h1>

        <table>
            <tr th:each="Product: ${product}">
                <form th:action="@{/index}" method="post">
                    <input type="hidden" th:name="id" th:value="${Product.id}"/>
                    <h3 th:text=" ${Product.name}"/>
                    <img th:src="${Product.image}"/>
                    <p th:text="${Product.details}"/>
                    <h2 th:text="${Product.price} + '€'"/>
                    <input class="btn_comprar" type="submit" value="Comprar"/>
                </form>
            </tr>
         </table>

        <div id="paginacao">
            <button class="btn_pagina" type="button"><<</button>
            <button class="btn_pagina" type="button">1</button>
            <button class="btn_pagina" type="button">2</button>
            <button class="btn_pagina" type="button">3</button>
            <button class="btn_pagina" type="button">4</button>
            <button class="btn_pagina" type="button">5</button>
            <button class="btn_pagina" type="button">>></button>
        </div>
    </div>



    <div id="categoria">
        <h3>Categorias:</h3>
        <ul>
            <li><a href="#">Tapetes</a></li>
            <li><a href="#">Ratos</a></li>
            <li><a href="#">Teclados</a></li>
            <li><a href="#">Cabos</a></li>
            <li><a href="#">Armazenamento</a></li>
        </ul>
    </div>
</div>


<div id="about">
    <a href="#">About this page...</a>
    <p>
</div>
</body>

</html>