<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>MadPanda</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href="frontend/font/HortaFont.otf" type="text/css" />
	<link rel="stylesheet" href="frontend/stylesheet.css">
	<link rel="stylesheet" href="frontend/header_align.css">
</head>
<body>

	<div id="cabecalho">
		<img src="frontend/img/madpanda.png" alt="madpanda" onclick="document.location='/index'">
		<p id="name">Mad Panda</p>
	</div>
	<div id="alinhamento">
		<form method='post' th:action='@{/new-client}'>
			<input type="text" id="username" name="username" placeholder="Inserir Username"/>
			<input type="password" id="password" name="password" placeholder="Inserir Password"/>
			<p>Escolha o tipo de utilizador:</p>
			</br>
			<input type="radio" id="roleclient" name="role" value="ROLE_USER">
			<label for="roleclient">User</label>
			</br>
			<input type="radio" id="roleadmin" name="role" value="ROLE_ADMIN">
			<label for="roleadmin">Admin</label>
			</br>
			<input class="btn_comprar" type="submit" value="Registar"/>
		</form>
	</div>
</body>
</html>
