<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MadPanda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="frontend/font/HortaFont.otf" type="text/css" />
    <link rel="stylesheet" href="frontend/stylesheet.css">
</head>


<body calss="index">

    <p id="name">Mad Panda</p>

    <div id="cabecalho">
        <img src="img/madpanda.png" alt="madpanda" onclick="document.location='index.html'">
        <form action="index.html" method="POST">
            <input type="text" placeholder="Pesquisar...">
            <input type="image" src="img/lupa.png" alt="pesquisar">
        </form>
        <a href="advanced_search.html">Pesquisa Avançanda</a>
    </div>


    <div id="content">
        <div id="produto">
        </div>
    </div>
    <div id="about">
        <a href="#">About this page...</a>
        <p>
    </div>
</body>

</html>