<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Centro de Vacinacao</title>
       <link th:href="@{/public/style/index.css}" rel="stylesheet" />
    </head>
    <body>

        <h2>Bem-vindo</h2>

        </section>
        <p><a href="/register-login.html">Registar/Entrar</a></p>
        <p><a href="/register-vaccine.html">Registar Vacina</a></p>
        <p><a href="/send-list">Mandar Lista de Vacinacoes</a></p>
        <p><a href="/routine.html"> Enviar Notificacoes </a></p>

        <p>Selecione opcoes.</p>
          

    </body>
</html>

