<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DGS</title>
        <link th:href="@{/public/style/index.css}" rel="stylesheet" />
    </head>
    <body>

        <h2>Bem-vindo</h2>

        </section>
        <p><a href="/distribute-vaccines.html">Distribuir Vacinas</a></p>

        <form class="form-inline" th:action="@{/list-vaccinated}" method="GET">
            <label>Listar Vacinados:</label><br>
            <button name="ok" value="ok">ok</button>
        </form>

        <p>Selecione opcoes.</p>
          

    </body>
</html>

